.component-list {
	width: 100%;
	margin-bottom: 40px;
	border-collapse: collapse;
	border: 1px solid #f8f8f8;

	th,
	td {
		padding: 10px;
	}

	th {
		font-size: 0.875em;
		font-weight: normal;
		text-align: left;
		background-color: #eee;
	}
}

.component-list__group-title {
	td {
		background-color: #f8f8f8;
	}

	h3 {
		margin: 0;
		font-size: 18px;
		font-weight: normal;
	}
}

.component-list__component {
	// font-weight: bold;
	cursor: pointer;

	.description {
		font-size: 0.875em;
		line-height: 1.4;
		color: #777777;
	}

	td {
		border-bottom: 1px solid #eee;
	}

	&:hover td {
		background: #f8f8f8;
	}

	a {
		text-decoration: none;
	}
}

.component-list__component-name {
	font-weight: bold;
}

/* Mobile styles */
@media (max-width: 600px) {
	.component-list td {
		border-bottom: 0;
	}
	.component-list tr {
		border-bottom: 1px solid #eeeeee;
	}
	.component-list td:nth-child(2) {
		display: block;
	}
	.component-list .version-number {
		display: block;
	}
}
