.component-detail {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
}

.component-detail__main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 600px) {
		width: calc(100% - 300px);
		margin-left: 260px;
		margin-right: 40px;
	}

	@media (min-width: 900px) {
		float: left;
		width: calc(70% - 280px);
		margin-right: 0;
	}
}

.component-detail__info {
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 600px) {
		width: calc(100% - 300px);
		margin-left: 260px;
		margin-right: 40px;
	}

	@media (min-width: 900px) {
		float: right;
		width: calc(25% - 40px);
		margin-left: 0;
		margin-right: 40px;
	}
}

.component-detail__header {
	width: 100%;
	margin-bottom: 40px;
	padding: 20px;
	background-color: #275e86;
	color: #fff;

	@media (min-width: 600px) {
		float: left;
		width: calc(100% - 220px);
		margin-left: 220px;
		padding: 40px;
	}
}

.component-detail__description {
	@media (min-width: 900px) {
		float: left;
	}

	h1 {
		float: left;
		margin: 0 5px 0 0;
		line-height: 1;
	}

	p {
		clear: left;
		margin: 0;
	}
}

.component-detail__warning {
	margin-top: 20px !important;
}

.component-detail__section {
	max-width: 100%;
	clear: both;
	margin-bottom: 40px;

	&--highlight {
		margin-bottom: 20px;
		padding: 10px 15px;
		background-color: #eeeeee;
	}

	h2 {
		margin-top: 0;
	}
}

.component-detail__information {
	clear: both;
	overflow: hidden;
	margin-bottom: 0;

	dt {
		clear: left;
		float: left;
		width: 23%;
		margin: 0 2% 5px 0;
		font-weight: bold;
	}

	dd {
		float: left;
		width: 75%;
		margin: 0 0 5px;
	}
}

.component-detail__dependent + .component-detail__dependent:before {
	content: ', ';
}

.component-detail__dependencies {
	border-collapse: collapse;

	td {
		padding-right: 10px;
	}
}
