.component-side-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 100%;
	padding: 30px 15px 0;
	border-right: 1px solid #cec6b9;
	overflow-y: auto;
}

.component-side-nav .filter-bar {
	margin: 0 0 20px;
}

.component-navigation {
	list-style: none;
	padding-left: 0;
}

.component-navigation__list {
	list-style: none;
	padding-left: 0;
}

.component-navigation__title {
	margin: 10px 0 5px;
	padding: 8px 20px;
	font-size: 16px;
	color: #333;
}

.component-navigation__item a {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
}
