.component-navigation {
	list-style: none;
	padding-left: 0;
}

.component-navigation__list {
	list-style: none;
	padding-left: 0;
}

.component-navigation__title {
	margin: 10px 0 5px;
	padding: 8px 20px;
	font-size: 16px;
	color: #333;
}

.component-navigation__item a {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
}

.component-navigation__item a:hover,
.component-navigation__item.focused a {
	background-color: #a9cadc;
	color: #333;
}
