.component-detail__wrapper {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
}

.component-detail__main {
	float: left;
	margin-left: 280px;
	width: calc(70% - 280px);
}

.component-detail__info {
	float: right;
	width: calc(25% - 40px);
	margin-right: 40px;
}

.component-detail__header {
	float: left;
	width: calc(100% - 220px);
	margin: 0 0 40px 220px;
	padding: 40px;
	background-color: #2e6e9e;
	color: #fff;

	h1 {
		float: left;
		margin: 0;
		line-height: 1;
	}

	.o-registry__github-button {
		@include oButtons;
		@include oButtonsSize(big);
		float: right;
		background-color: #fff;
		color: #2e6e9e;
	}

	.o-registry__github-button i {
		margin-right: 10px;
	}
}

.o-overlay__content {
	max-width: 600px;
}

.docs-navigation {
	list-style: none;
	margin: 0 0 20px;
	padding: 0;

	li {
		margin-bottom: 2px;
	}

	a {
		display: block;
		padding: 10px 15px;
		color: #fff;
		font-size: 16px;
		text-decoration: none;
		background-color: #598caf;

		i {
			font-size: 12px;
			font-weight: bold;
		}
	}
}

.component-description {
	clear: both;

	p {
		margin: 0;
	}
}

.using-callout {
	padding: 10px 15px;
	background-color: #eeeeee;

	h2 {
		margin-top: 0;
	}
}

// .full-component-details .component-details-row {
// 	clear: left;
// 	float: left;
// 	width: 100%;
// 	margin-bottom: 10px;
// }

// .full-component-details .key {
// 	float: left;
// 	width: 23%;
// 	margin-right: 2%;
// }

// .full-component-details .val {
// 	float: left;
// 	width: 75%
// }

// .detail-comp-info {
// 	margin-top: 110px;
// 	background-color: #fff1e0;
// 	padding: 15px;
// 	border-radius: 6px;
// }


// .component-header {
// 	margin: 0 0 20px;
// }

// .doc-links {
// 	clear: both;
// 	list-style: none;
// 	padding-left: 0;
// }

// .doc-links li {
// 	display: inline;
// 	margin-right: 5px;
// }

// .doc-links li a {
// 	color: #fff;
// 	text-transform: none;
// }

// .component-build-metadata {
// 	text-align: right;
// }

// .component-info-details {
// 	clear: both;
// 	overflow: hidden;
// 	margin-bottom: 0;
// }

// .component-info-details dt,
// .component-info-details dd {
// 	width: 100%;
// 	margin: 0;
// 	padding: 0;
// 	font-size: 14px;
// }

// .component-info-details dd {
// 	margin-bottom: 10px;
// 	font-size: 16px;
// }

// .component-info-details dd .bundlesize_js,
// .component-info-details dd .bundlesize_css {
// 	display: block;
// }

// .version-title {
// 	float: left;
// 	font-size: 16px;
// 	margin: 5px 10px 20px 0;
// }

// .version-select {
// 	width: 120px;
// 	float: left;
// 	vertical-align: middle;
// }
// .unstable-warning {
// 	margin-top: 20px !important;
// }


// .detail-section {
// 	max-width: 100%;
// 	clear: both;
// }
// .detail-modulelist__item + .detail-modulelist__item:before {
// 	content: ', ';
// }
// .dependency-list {
// 	border-collapse: collapse;
// }
// .dependency-list td {
// 	padding-right: 10px;
// }

// .bundlesize_js,
// .bundlesize_css {
// 	display: inline;
//     margin-right: 10px;
//     font-weight: bold;
//     color: #029A77;
// }
// .bundlesize_css {
// 	color: #CE6308;
// }

// pre.quickstart-tag {
// 	font-size: 16px;
// 	word-break: normal;
// }

// pre.quickstart-tag code {
// 	white-space: normal;
// }

// /* Make it 'pop more' */
// .o-overlay {
// 	box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.2);
// }
