.component-list {
	@include oTableBase;
	@include oTableHorizontalLines;
	@include oTableRowStripes;
	width: 100%;
}
.component-list .component a {
	text-decoration: none;
}
.component-list .component {
	cursor: pointer;
}
.component-list .component:hover td {
	background: #f8f8f8;
}
.component-list .component-name {
	font-weight: bold;
}
.component-list .description {
	font-size: 0.875em;
	line-height: 1.4;
	color: #777777;
}
.component-list .label-css,
.component-list .label-js {
	margin-left: 5px;
}

/* Version number */

.version-number {
	font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
	font-size: 0.875em;
}
.component-list .version-number {
	min-width: 60px;
	display: inline-block;
}

/* Mobile styles */
@media (max-width: 600px) {
	.component-list td {
		border-bottom: 0 !important;
	}
	.component-list tr {
		border-bottom: 1px solid #eeeeee;
	}
	.component-list td:nth-child(2) {
		display: block;
	}
	.component-list .version-number {
		display: block;
	}
}
