.component-navigation {
	list-style: none;
	padding-left: 0;
}

.component-navigation__list {
	list-style: none;
	padding-left: 0;
}

h3.component-navigation__title {
	margin: 10px 0 5px;
	padding: 8px 20px;
	font-size: 16px;
	background: #a9cadc;
	color: #333;
}

.component-navigation__item a {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
}

.component-navigation__item a:hover {
	background-color: #a9cadc;
	color: #333;
}


.component-side-nav {
	position:absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 15%;
	max-width: 250px;
	padding: 10px 0;
	background-color: #333;
	color: #fff;
	overflow-y: auto;
}

.component-side-nav .filter-bar {
	margin-top: 0;
}

.component-side-nav a {
	color: #fff;
}
