.filter-bar {
	float: left;
	width: 100%;
	margin-bottom: 40px;

	.sidebar & {
		float: none;
		margin: 0;
		padding: 0 20px;
	}
}

.filter-bar .o-forms {
	margin-bottom: 10px;
}

.filter-bar__label {
	display: inline;
	width: 80px;
	margin-right: 10px;
	line-height: 24px;
}

.filter-bar__checkboxes {
	@media (min-width: 930px) {
		float: left;

		&--type {
			width: 30%;
		}

		&--status {
			text-align: right;
			width: 70%;
		}
	}
}
