.o-forms-group {
	@include oFormsGroup;
}

.o-forms-label {
	@include oFormsLabel;
}

.o-forms-checkbox {
	@include oFormsRadioCheckbox;

	&+.o-forms-label {
		display: inline-block;
		margin-left: 5px;
		margin-right: 10px;
	}
}

.o-forms-text {
	@include oFormsCommonField;
}

.filter-bar {
	margin-top:40px;
	margin-bottom: 15px;
}

.filter-bar .o-forms-group {
	margin-bottom: 10px;
}

.filter-bar-label {
	float: left;
	line-height: 24px;
	margin-right: 10px;
	position: relative;
	top: -2px; // Align with form labels
}

.version-select {
	@include oFormsCommonField;
	@include oFormsSelect;
	width: 140px;
}
