.o-header-services__container {
	max-width: 100%;
}

.o-header-services__top {
	font-size: 17px;
}

.o-header-services__product-name a:visited {
	color: #fff;
}

.o-header-services__related-content a:hover,
.o-header-services__product-name a:hover {
    color: #fff;
	text-decoration: none;
}
