.imageset-demo {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	width: 100%;

	&__item {
		flex: 0 1 50%;
		padding: 0 20px 0;
		margin-bottom: 20px;

		@media (min-width: 900px) {
			flex-basis: 30%;
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: auto;
		margin: 0;
	}

	&__title {
		text-align: center;
	}
}
