/* Utility classes and trumps */

[aria-hidden=true] {
	display: none;
}

.u-nowrap {
	white-space: nowrap;
}

@media (max-width: 600px) {
	.u-hide-on-mobile {
		display: none !important;
	}
}

/* Progress spinner */

.js-activity::after {
	content: '';
	margin: 0 3px;
	background: url(/images/loading.svg) no-repeat;
	display: inline-block;
	width: 32px;
	height: 15px;
	border-radius: 3px;
	vertical-align: middle;
}


.js-sticky-sidebar {
	position: relative;
	top: 0;
	transition: top 0.2s ease;

	&--active {
		position: fixed;
		right: 20px;
		top: 20px;
		z-index: 10;

		@media (min-width: 900px) {
			width: calc(30% - 70px);
		}

		@media (min-width: 1200px) {
			width: calc(25% - 70px);
		}
	}
}
