/* Utility classes and trumps */

[aria-hidden=true] {
	display: none;
}

.u-nowrap {
	white-space: nowrap;
}

@media (max-width: 600px) {
	.u-hide-on-mobile {
		display: none !important;
	}
}

/* Progress spinner */

.js-activity::after {
	content: '';
	margin: 0 3px;
	background: url(/images/loading.svg) no-repeat;
	display: inline-block;
	width: 32px;
	height: 15px;
	border-radius: 3px;
	vertical-align: middle;
}


.js-sticky-sidebar {
	top: 0;
	transition: top 0.2s ease;
}
