$o-registry-max-width: 1200px;

$o-registry-color-grey1: #f5f5f5;
$o-registry-color-grey2: #eeeeee;
$o-registry-color-grey3: #cccccc;

$o-registry-color-charcoal: #222222;
$o-registry-color-charcoal-lighter: #555555;
$o-registry-color-green: #008100;
$o-registry-color-purple: #b400b4;
