<nav class="component-side-nav">
	<form action="" class="filter-bar">
		<div class="o-forms-group">
			<label for="module-search" aria-hidden="true">Seach modules</label>
			<input type="text" class="o-forms-text" id="filter" placeholder="Type to filter by name">
		</div>
	</form>

	<ul class="component-navigation">
		<li class="component-navigation__group">
			<h3 class="component-navigation__title searchable">Primitives</h3>
			<ul class="component-navigation__list">
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-colors" href="/components/o-colors">o-colors</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-fonts" href="/components/o-fonts">o-fonts</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-grid" href="/components/o-grid">o-grid</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-typography" href="/components/o-typography">o-typography</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-icons" href="/components/o-icons">o-icons</a></li>
			</ul>
		</li>
		<li class="component-navigation__group">
			<h3 class="component-navigation__title searchable">Components</h3>
			<ul class="component-navigation__list">
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-ads" href="/components/o-ads">o-ads</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-aside-panel" href="/components/o-aside-panel">o-aside-panel</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-author-alerts" href="/components/o-author-alerts">o-author-alerts</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-big-number" href="/components/o-big-number">o-big-number</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-business-card" href="/components/o-business-card">o-business-card</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-buttons" href="/components/o-buttons">o-buttons</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-card" href="/components/o-card">o-card</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-chat" href="/components/o-chat">o-chat</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-comments" href="/components/o-comments">o-comments</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-comment-count" href="/components/o-comment-count">o-comment-count</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-expander" href="/components/o-expander">o-expander</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-footer" href="/components/o-footer">o-footer</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-forms" href="/components/o-forms">o-forms</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-hierarchical-nav" href="/components/o-hierarchical-nav">o-hierarchical-nav</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-gallery" href="/components/o-gallery">o-gallery</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-header" href="/components/o-header">o-header</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-labels" href="/components/o-labels">o-labels</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-link-list" href="/components/o-link-list">o-link-list</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-overlay" href="/components/o-overlay">o-overlay</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-promobox" href="/components/o-promobox">o-promobox</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-quote" href="/components/o-quote">o-quote</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-section-head" href="/components/o-section-head">o-section-head</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-share" href="/components/o-share">o-share</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-squishy-list" href="/components/o-squishy-list">o-squishy-list</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-tabs" href="/components/o-tabs">o-tabs</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-table" href="/components/o-table">o-table</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-tweet" href="/components/o-tweet">o-tweet</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-video" href="/components/o-video">o-video</a></li>
			</ul>
		</li>
		<li class="component-navigation__group">
			<h3 class="component-navigation__title searchable">Layouts</h3>
			<ul class="component-navigation__list">
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-techdocs" href="/components/o-techdocs">o-techdocs</a></li>
			</ul>
		</li>
		<li class="component-navigation__group">
			<h3 class="component-navigation__title searchable">Utilities</h3>
			<ul class="component-navigation__list">
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-ads-embed" href="/components/o-ads-embed">o-ads-embed</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-assets" href="/components/o-assets">o-assets</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-autoinit" href="/components/o-autoinit">o-autoinit</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-comment-api" href="/components/o-comment-api">o-comment-api</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-comment-ui" href="/components/o-comment-ui">o-comment-ui</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-comment-utilities" href="/components/o-comment-utilities">o-comment-utilities</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-date" href="/components/o-date">o-date</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-dom" href="/components/o-dom">o-dom</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-element-visibility" href="/components/o-element-visibility">o-element-visibility</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-errors" href="/components/o-errors">o-errors</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-fetch-jsonp" href="/components/o-fetch-jsonp">o-fetch-jsonp</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-font-assets" href="/components/o-font-assets">o-font-assets</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-hoverable" href="/components/o-hoverable">o-hoverable</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-layers" href="/components/o-layers">o-layers</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-tracking" href="/components/o-tracking">o-tracking</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-viewport" href="/components/o-viewport">o-viewport</a></li>
				<li class="component-navigation__item searchable"><a data-module-name--js data-name="ftdomdelegate" href="/components/ftdomdelegate">ftdomdelegate</a></li>
			</ul>
		</li>
	</ul>
</nav>
