<nav class="component-side-nav">
	<form action="" class="filter-bar">
		<div class="o-forms-group">
			<label for="module-search" aria-hidden="true">Seach modules</label>
			<input type="text" class="o-forms-text" id="filter" autocomplete="off" placeholder="Type to filter by name">
		</div>
	</form>

	<ul class="component-navigation">
		{% for group in components %}
			{% if group.modules is not empty %}
				<li class="component-navigation__group">
					<h3 class="component-navigation__title searchable">{{group.title}}</h3>
					<ul class="component-navigation__list">
						{% for component in group.modules %}
							<li class="component-navigation__item searchable type-{{component.origami_type}} support-{{component.support_status|slugify}}"><a data-module-name--js data-name="{{component.module_name}}" href="/components/{{component.module_name}}@{{component.tag_name}}">{{component.module_name}}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
