<nav class="sidebar sidebar--has-scroll js-expanded__sidebar u-hide-on-mobile">
	<form action="#" class="filter-bar" aria-hidden="true">
		<div class="o-forms-group">
			<label class="o-forms-label o-forms-label--component-nav" for="filter">Filter modules</label>
			<input type="text" class="o-forms-text o-forms-text--component-nav" id="filter" autocomplete="off" placeholder="Type to filter by name">
		</div>
	</form>

	<ul class="component-navigation__list">
		{% for group in components %}
			{% if group.modules is not empty %}
				<li class="component-navigation__item js-searchable">
					<h3 class="component-navigation__title">{{group.title}}</h3>
				</li>
				{% for component in group.modules %}
					{% if (component.support_status == 'active' or component.support_status == 'maintained') and component.origami_type != 'service' or  %}
						<li class="component-navigation__item js-searchable type-{{component.origami_type}} support-{{component.support_status|slugify}}{% if component.module_name == module_name %} component-navigation__item--active{% endif %}"><a data-module-name--js data-name="{{component.module_name}}" data-keywords="{{component.keywords}}" href="/components/{{component.module_name}}@{{component.tag_name}}">{{component.module_name}}</a></li>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	</ul>
</nav>
