<div class="demo">
	<header class="demo__header">
		<h2 class="demo__title"><span class="activity">{{ demo.name }}</span></h2>
	</header>

	<div class="demo__navigation">
		<ul data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs demo__tabs" role="tablist">
			<li role="tab" aria-selected="true"><a href="#demo-{{ demo.name|slugify}}">Demo</a></li>
			<li role="tab"><a href="#code-{{ demo.name|slugify}}">HTML</a></li>
		</ul>

		<a class="demo__jsbin-link" href="/components/{{module_name}}@{{tag_name}}/demos/edit/{{demo.name}}" target="_blank">Open in JSBin <i class="fa fa-external-link"></i></a>
	</div>

	<div id="demo-{{ demo.name|slugify}}" class="o-tabs__tabpanel">
		{% if force_old_demo_url %}
			<div class="demo__frame-container">
				<iframe src="https://{{ SERVER.BUILD_SERVICE_HOST }}/files/{{module_name}}@{{tag_name}}/{{demo.path}}" title="demo: {{demo.name}}" class="demo__frame" allowTransparency="true" scrolling="no"></iframe>
			</div>
		{% else %}
			<div class="demo__frame-container">
				<iframe src="https://{{ SERVER.BUILD_SERVICE_HOST }}/v2/demos/{{module_name}}@{{tag_name}}/{{demo.name}}" title="demo: {{demo.name}}" class="demo__frame" allowTransparency="true" scrolling="no"></iframe>
			</div>
		{% endif %}
	</div>
	<div id="code-{{ demo.name|slugify}}" class="o-tabs__tabpanel">
		<div class="demo__source-container">
			<pre class="demo__source" data-src="/components/{{module_name}}@{{tag_name}}/demos/code/{{demo.name}}"></pre>
		</div>
	</div>

	{% if demo.description %}
		<footer class="demo__footer">
			{{ demo.description }}
		</footer>
	{% endif %}
</div>
