<div class="demo demo--imageset">
	<header class="demo__header">
		<h2 class="demo__title">Image set</h2>
	</header>

	<div class="demo__frame-container">
		<div class="imageset-demo">
			{% for image in imageset_list %}
				<div class="imageset-demo__item">
					<img src="https://www.ft.com/__origami/service/image/v2/images/raw/{{imageset_scheme}}:{{image.name}}%3Fcache-bust%3D{{"now"|floor(time()/600)}}?width=200&source=origami-registry" alt="{{image.name}}" class="imageset-demo__image">
					<p class="imageset-demo__title">{{image.name}}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
