{% extends "page.html" %}

{% block content %}
<!-- Component ID: {{component_id}}, version ID: {{id}} -->
	<div class="component-detail__wrapper grid-row">
		<!-- Nav -->
		{% include "blocks/component-nav.html" %}

		<div class="component-detail__main">
			<h1 class="component-detail__header">{{module_name}}</h1>

			<a href="{{repo_home_url}}" class="o-buttons o-buttons--big github-button"><i class="fa fa-github"></i>View on Github</a>

			<ul class="doc-links">
				<li><strong>Documentation:</strong></li>
				<li><a href="{{repo_home_url}}#readme" class="o-buttons o-buttons--standout">README</a></li>
				{% if has_css %}
					<li><a href="http://codedocs.webservices.ft.com/v1/sassdoc/{{module_name}}@{{tag_name}}" class="o-buttons o-buttons--standout">SassDoc</a></li>
				{% endif %}
				{% if has_js %}
					<li><a href="http://codedocs.webservices.ft.com/v1/jsdoc/{{module_name}}@{{tag_name}}" class="o-buttons o-buttons--standout">JSDoc</a></li>
				{% endif %}
			</ul>

			{% if not is_stable %}
				<div data-o-grid-colspan="12" class='o-techdocs-content'>
					<aside class='unstable-warning'>
						<h4>Warning: this version is unstable</h4>
						<p>This is an unstable pre-release of an upcoming version of this component.  Its API may be subject to breaking changes.</p>
					</aside>
				</div>
			{% endif %}

			<div class="component-description">
				<p>{{description}}</p>
			</div>

			{% if demos %}
				<section class="detail-section" id="section-demos">
					{% for demo in demos %}
						{% include "blocks/demo.html" %}
					{% endfor %}
				</section>
			{% endif %}

			{% include "blocks/component-data.html" %}

			<section class="detail-section full-component-details" id="more-information">
				<h2>Contact</h2>

				<p>To talk to the team you can contact the Origami team on Slack channel <a href="https://financialtimes.slack.com/messages/ft-origami/">#ft-origami</a> or directly by email at <a href="mailto:origami-support@ft.com">origami-support@ft.com</a></p>

				<p><a href="{{support}}" class="o-buttons o-buttons--big o-buttons--standout">Report an issue</a></p>
			</section>
		</div>

		<div class="component-detail__info">
			{% if origami_type == 'service' %}
				<section class="detail-section" id="section-usage">
					<h2>Use the service</h2>
					<p><a href="{{service_url}}" class="btn btn-lg btn-primary active"><i class="glyphicon glyphicon-circle-arrow-right"></i> Load service</a> &nbsp; (services host their own documentation)</p>
				</section>
			{% endif %}

			<section class="detail-section detail-comp-info" id="section-info">

				<div class="version-title">Version:</div>
				<select class="o-forms-select version-select">
					{% for version in versions %}
						<option value="/components/{{module_name}}@{{version.tag_name}}" title="{{version.type}}"{% if version.tag_name == tag_name %} selected{% endif %}>{{version.tag_name}}{% if version.is_valid %} ✓{% endif %}</option>
					{% endfor %}
					<option value="/components/{{module_name}}/refresh" class="option-refresh">Rescan repo</option>
				</select>

				<dl class="component-info-details">
					<dt>Latest stable version:</dt>
					<dd><span class="version-number">{{latest_stable_version}}</span> ({{latest_stable_datetime_created|timediff}} old)</dd>

					<dt>Status (<a href="http://origami.ft.com/docs/syntax/origamijson/">Learn more</a>):</dt>
					<dd><span class="label-{{support_status|slugify}}">{{support_status|capitalize}}</span>  (as of <span class="version-number">{{support_status_version}}</span>)</dd>

					{% if origami_type == 'service' %}
						<p>Live URL: <a href="{{service_url}}">{{service_url}}</a></p>
					{% else %}
						<dt>Bundle sizes:</dt>
						<dd>
							{% if bundlesize_js %}
								<span class="bundlesize_js">{{bundlesize_js|bytes}} JavaScript</span>
							{% endif %}
							{% if bundlesize_css %}
								<span class="bundlesize_css">{{bundlesize_css|bytes}} CSS</span>
							{% endif %}
						</dd>
					{% endif %}
				</dl>

				<a href="#more-information">Full component information</a>
			</section>

			{% if origami_type == 'module' and (has_js or has_css) %}
				{% include "blocks/getting-started.html" %}
			{% endif %}

		</div>
	</div>

{% endblock %}
