{% extends "page.html" %}

{% block content %}
<!-- Component ID: {{component_id}}, version ID: {{id}} -->
<div class="o-techdocs-content">
	<div class="grid-row">
		<nav class="component-side-nav">
			<form action="" class="filter-bar">
				<div class="o-forms-group">
					<label for="module-search" class="hide-me">Seach modules</label>
					<input type="text" class="o-forms-text" id="filter" placeholder="Type to filter by name">
				</div>
			</form>

			<ul class="component-navigation">
				<li class="component-navigation__group">
					<h3 class="component-navigation__title searchable">Primitives</h3>
					<ul class="component-navigation__list">
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-colors" href="/components/o-colors">o-colors</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-fonts" href="/components/o-fonts">o-fonts</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-grid" href="/components/o-grid">o-grid</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-typography" href="/components/o-typography">o-typography</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-icons" href="/components/o-icons">o-icons</a></li>
					</ul>
				</li>
				<li class="component-navigation__group">
					<h3 class="component-navigation__title searchable">Components</h3>
					<ul class="component-navigation__list">
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-big-number" href="/components/o-big-number">o-big-number</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-buttons" href="/components/o-buttons">o-buttons</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-card" href="/components/o-card">o-card</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-gallery" href="/components/o-gallery">o-gallery</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-header" href="/components/o-header">o-header</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-labels" href="/components/o-labels">o-labels</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-overlay" href="/components/o-overlay">o-overlay</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-tabs" href="/components/o-tabs">o-tabs</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-tables" href="/components/o-tables">o-tables</a></li>
					</ul>
				</li>
				<li class="component-navigation__group">
					<h3 class="component-navigation__title searchable">Helpers</h3>
					<ul class="component-navigation__list">
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-date" href="/components/o-date">o-date</a></li>
						<li class="component-navigation__item searchable"><a data-module-name--js data-name="o-errors" href="/components/o-errors">o-errors</a></li>
					</ul>
				</li>
			</ul>
		</nav>

		<div class="component-main">
			<h1 class="component-header">{{module_name}}</h1>

			<a href="{{repo_home_url}}" class="o-buttons o-buttons--big github-button"><i class="fa fa-github"></i>View on Github</a>

			<ul class="doc-links">
				<li><strong>Documentation:</strong></li>
				<li><a href="{{repo_home_url}}#readme" class="o-buttons o-buttons--standout">README</a></li>
				{% if has_css %}
					<li><a href="http://codedocs.webservices.ft.com/v1/sassdoc/{{module_name}}@{{tag_name}}" class="o-buttons o-buttons--standout">SassDoc</a></li>
				{% endif %}
				{% if has_js %}
					<li><a href="http://codedocs.webservices.ft.com/v1/jsdoc/{{module_name}}@{{tag_name}}" class="o-buttons o-buttons--standout">JSDoc</a></li>
				{% endif %}
			</ul>

			{% if not is_stable %}
				<div data-o-grid-colspan="12" class='o-techdocs-content'>
					<aside class='unstable-warning'>
						<h4>Warning: this version is unstable</h4>
						<p>This is an unstable pre-release of an upcoming version of this component.  Its API may be subject to breaking changes.</p>
					</aside>
				</div>
			{% endif %}

			<div class="component-description">
				<p>{{description}}</p>
			</div>

			{% if demos %}
				<section class="detail-section" id="section-demos">
					{% for demo in demos %}

						<div class="demo-wrapper">
							<h2 class="demo-title activity">{{ demo.name }}</h2>

							{% if demo.description %}<div class="demo-subtitle">{{ demo.description }}</div>{% endif %}

							<ul data-o-component="o-tabs" class="o-tabs o-tabs--alignright o-tabs--buttontabs o-tabs--big" role="tablist">
								<li role="tab" aria-selected="true"><a href="#demo-{{ demo.name|slugify}}">Demo</a></li>
								<li role="tab"><a href="#code-{{ demo.name|slugify}}">HTML</a></li>
								<li role="tab"><a href="#embed-{{ demo.name|slugify}}">Embed</a></li>
							</ul>
							<div id="demo-{{ demo.name|slugify}}" class="o-tabs__tabpanel">
								<div class="demo-frame-container">
									<iframe src="https://{{ SERVER.BUILD_SERVICE_HOST }}/v2/demos/{{module_name}}@{{tag_name}}/{{demo.name}}" class="demo-frame" allowTransparency="true" scrolling="no"></iframe>
								</div>
							</div>
							<div id="code-{{ demo.name|slugify}}" class="o-tabs__tabpanel">
								<div class="demo-source-container">
									<pre class="demo-source" data-src="/components/{{module_name}}@{{tag_name}}/demos/code/{{demo.name}}"></pre>
								</div>
							</div>
							<div id="embed-{{ demo.name|slugify}}" class="o-tabs__tabpanel">
								<pre class="demo-embed-code" onclick="this.select();"><!-- Put the following line *once* at the top of your page -->
&lt;script src="http://registry.origami.ft.com/embedapi">&lt;/script>
<!-- Put the following line where you want the demo to show -->
&lt;iframe style="width: 100%;" frameborder="0" scrolling="no" src="http://{{SERVER.HTTP_HOST}}/components/{{module_name}}@{{tag_name}}/demos/visual/{{demo.name}}?embed=1">&lt;/iframe></pre>
							</div>

							<!-- {% if force_old_demo_url %}
							<div class="demo-frame-container">
								<iframe src="https://{{ SERVER.BUILD_SERVICE_HOST }}/files/{{module_name}}@{{tag_name}}/{{demo.path}}" class="demo-frame" allowTransparency="true" scrolling="no"></iframe>
							</div>
							{% else %}


							{% endif %} -->
						</div>
					{% endfor %}
				</section>
			{% endif %}
		</div>

		<div class="component-info">
			{% if origami_type == 'service' %}
				<section class="detail-section" id="section-usage">
					<h2>Use the service</h2>
					<p><a href="{{service_url}}" class="btn btn-lg btn-primary active"><i class="glyphicon glyphicon-circle-arrow-right"></i> Load service</a> &nbsp; (services host their own documentation)</p>
				</section>
			{% endif %}

			<section class="detail-section detail-comp-info" id="section-info">

				<div class="version-title">Version:</div>
				<select class="o-forms-select version-select">
					{% for version in versions %}
						<option value="/components/{{module_name}}@{{version.tag_name}}" title="{{version.type}}"{% if version.tag_name == tag_name %} selected{% endif %}>{{version.tag_name}}{% if version.is_valid %} ✓{% endif %}</option>
					{% endfor %}
					<option value="/components/{{module_name}}/refresh" class="option-refresh">Rescan repo</option>
				</select>

				<dl class="component-info-details">
					<dt>Latest stable version:</dt>
					<dd><span class="version-number">{{latest_stable_version}}</span> ({{latest_stable_datetime_created|timediff}} old)</dd>

					<dt>Status (<a href="http://origami.ft.com/docs/syntax/origamijson/">Learn more</a>):</dt>
					<dd><span class="label-{{support_status|slugify}}">{{support_status|capitalize}}</span>  (as of <span class="version-number">{{support_status_version}}</span>)</dd>

					{% if origami_type == 'service' %}
						<p>Live URL: <a href="{{service_url}}">{{service_url}}</a></p>
					{% else %}
						<dt>Bundle sizes:</dt>
						<dd>
							{% if bundlesize_js %}
								<span class="bundlesize_js">{{bundlesize_js|bytes}} JavaScript</span>
							{% endif %}
							{% if bundlesize_css %}
								<span class="bundlesize_css">{{bundlesize_css|bytes}} CSS</span>
							{% endif %}
						</dd>
					{% endif %}
				</dl>
			</section>

			{% if origami_type == 'module' and (has_js or has_css) %}
			<section class="detail-section" id="section-usage">
				<h2>Getting started</h2>

				<div id="quickstart-bs">
					<h3>Using the build service</h3>

					<p>Add the following token to your <a href="http://origami.ft.com/docs/developer-guide/build-service">build service</a>
					{% if has_js and has_css %}<code>script</code> and <code>link</code> tags
					{% elseif has_js %}<code>script</code> tag
					{% elseif has_css %}<code>link</code> tag{% endif %}
					(<a class="o-overlay-trigger" data-o-overlay-id="overlay" data-o-overlay-src="#how-do-i-build-service" data-o-overlay-heading-shaded="true" data-o-overlay-heading-title="Using the Build Service" data-o-overlay-zindex="20" aria-pressed="false" aria-haspopup="true" href="#how-do-i-build-service">how do I do that?</a>):</p>
					<pre class="quickstart-tag"><code>{{module_name}}@^{{tag_name}}</code></pre>
				</div>

				<div id="quickstart-manual">
					<h3>Using a manual build process</h3>

					<p>Add this dependency to your <code>bower.json</code> file during <strong>step 4</strong> of the <a href="http://origami.ft.com/docs/developer-guide/building-modules/">standard Origami build process</a>:</p>
					<pre class="quickstart-tag"><code class="lang-json">"{{module_name}}": "^{{tag_name}}"</code></pre>
				</div>
				<p>The tag includes <code>^</code> which enables <em>automatic upgrades</em> via <a href="http://semver.org">Semver</a>.  Use the <a href='http://semver.npmjs.com/'>semver calculator</a> to see what versions are covered by your tag.</p>
			</section>

			<aside class="o-techdocs__aside--toggleable" id="how-do-i-build-service">
				<h4>Loading assets using the build service</h4>
				<p>The Origami build service is designed to efficiently bundle JavaScript and CSS resources and deliver them into your page.  To make best use of this, you should have <strong>only one</strong> (Origami related) <code>&lt;script&gt;</code> and one <code>&lt;link&gt;</code> tag in your page, even if you want to load more than one component.  You can request all the components you want in a single request, like this:</p>
				<pre><code class="lang-html">&lt;link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=module@version,module@version,module@version" />
&lt;script src="https://build.origami.ft.com/v2/bundles/js?modules=module@version,module@version,module@version">&lt;/script></code></pre>
				<p>Read the <a href="http://origami.ft.com/docs/developer-guide/using-modules/#core-vs-enhanced-experience">developer guide</a> for information on where to place these tags in your source code (if in a hurry: link goes in <code>&lt;head&gt;</code>, script goes just before <code>&lt;/body&gt;</code>), and how to use a <em>cuts the mustard</em> test to make the script load only in browsers that are compatible with our enhanced experience.</p>
				<p>Regardless of whether your site is loaded over HTTP or HTTPS, we recommend using HTTPS to load Origami resources.</p>
				<p>For full build service options see the <a href="http://origami.ft.com/docs/developer-guide/build-service/#api-reference">build service API docs</a></p>
			</aside>
			{% endif %}
		</div>

	<!-- {% if docs_sections %}
	<section class="detail-section" id="section-docs">
		{% if docs_sections > 1 %}
		<p class="pills pills--float" data-tabs="docs">
			{% if readme_gfm %}<a href="#docs-readme">README</a>{% endif %}
			{% if has_css %}<a href="#docs-css">Sass reference</a>{% endif %}
			{% if has_js %}<a href="#docs-js">JavaScript reference</a>{% endif %}
		</p>
		{% endif %}
		<h2>Documentation</h2>
		{% if readme_gfm %}
		<div id="docs-readme" class="docs-content o-techdocs-content">
			{{readme_gfm|markdown|raw}}
		</div>
		{% endif %}
		{% if has_css %}
		<iframe id="docs-css" style="min-height: 400px" class="docs-content docs-content--frame" src="http://codedocs.webservices.ft.com/v1/sassdoc/{{module_name}}@{{tag_name}}" allowTransparency="true" scrolling="no"></iframe>
		{% endif %}
		{% if has_js %}
		<iframe id="docs-js" class="docs-content docs-content--frame" src="http://codedocs.webservices.ft.com/v1/jsdoc/{{module_name}}@{{tag_name}}" allowTransparency="true" scrolling="no"></iframe>
		{% endif %}
	</section>
	{% endif %} -->
{% endblock %}
