{% extends "page.html" %}

{% block content %}

<div class="o-registry-container">
	<div class="component-list__main">
		<form action="#" class="filter-bar" aria-hidden="true">
			<div class="o-forms">
				<label for="filter" aria-hidden="true">Filter modules</label>
				<input id="filter" type="text" class="o-forms__text" name="filter" placeholder="Type to filter by name" autofocus autocomplete="off" />
			</div>

			<div class="o-forms filter-bar__checkboxes filter-bar__checkboxes--type">
				<label class="o-forms__label filter-bar__label">Show:</label>
				<input type="checkbox" name="type" value="module" class="o-forms__checkbox o-forms__checkbox--small" id="check-module" checked><label for="check-module" class="o-forms__label">Modules</label>
				<input type="checkbox" name="type" value="service" class="o-forms__checkbox o-forms__checkbox--small" id="check-service"><label for="check-service" class="o-forms__label">Services</label>
				<input type="checkbox" name="type" value="imageset" class="o-forms__checkbox o-forms__checkbox--small" id="check-imageset" checked><label for="check-imageset" class="o-forms__label">Imagesets</label>
			</div>

			<div class="o-forms filter-bar__checkboxes filter-bar__checkboxes--status">
				<label class="o-forms__label filter-bar__label">Status:</label>
				<input type="checkbox" name="support" value="active" class="o-forms__checkbox o-forms__checkbox--small" id="check-active" checked><label for="check-active" class="o-forms__label">Active</label>
				<input type="checkbox" name="support" value="maintained" class="o-forms__checkbox o-forms__checkbox--small" id="check-maintained" checked><label for="check-maintained" class="o-forms__label">Maintained</label>
				<input type="checkbox" name="support" value="deprecated" class="o-forms__checkbox o-forms__checkbox--small" id="check-deprecated"><label for="check-deprecated" class="o-forms__label">Deprecated</label>
				<input type="checkbox" name="support" value="dead" class="o-forms__checkbox o-forms__checkbox--small" id="check-dead"><label for="check-dead" class="o-forms__label">Dead</label>
				<input type="checkbox" name="support" value="experimental" class="o-forms__checkbox o-forms__checkbox--small" id="check-experimental"><label for="check-experimental" class="o-forms__label">Experimental</label>
			</div>
		</form>

		<table class="component-list">
			<thead class="u-hide-on-mobile">
				<tr><th>Component</th><th>Version</th><th>Status</th><th>Updated</th></tr>
			</thead>
			<tbody>
			<tr class="component-group empty-search" aria-hidden="true">
				<td>
					<p>Can't find what you're looking for?<br>You can try another search or speak to the Origami team in the <a href="https://financialtimes.slack.com/messages/ft-origami/">#ft-origami</a> Slack channel</p>
				</td>
				<td></td><td></td>
			</tr>
			{% for group in components %}
				{% if group.modules is not empty %}
					<tr class="component-list__group-title js-searchable">
						<td><h3>{{group.title|capitalize}}</h3></td><td></td><td></td><td></td>
					</tr>

					{% for component in group.modules %}
						<tr class="component-list__component js-searchable type-{{component.origami_type}} support-{{component.support_status|slugify}}">
							<td>
								<a href="/components/{{component.module_name}}@{{component.tag_name}}">
									<span class="component-list__component-name" data-module-name--js data-name="{{component.module_name}}" data-keywords="{{component.keywords}}">{{component.module_name}}</span>
								</a>
								{% if component.has_css %}<span class="label-css">CSS</span>{% endif %}
								{% if component.has_js %}<span class="label-js">JS</span>{% endif %}
								<div class="component-list__component-description">{{component.description}}</div>
							</td>
							<td class="u-nowrap"><span class="version-number">{{component.tag_name}}</span></td>
							<td><span class="label-{{component.support_status|slugify}}">{{component.support_status|capitalize}}</span></td>
							<td class="component-list__component-updated u-nowrap u-hide-on-mobile">{% if component.datetime_created %}<time datetime="{{component.datetime_created|date('c')}}" title="{{component.datetime_created|date('c')}}">{{component.datetime_created|timepast}}</time>{% endif %}</td>
						</tr>
					{% endfor %}
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="component-list__sidebar">
		<div class="o-registry-section o-registry-section--highlight">
			<h2>Updates to the library</h2>

			<p>Every 4 hours, the library automatically scans the FT and FT Labs public GitHub accounts, and Stash, for repositories containing an Origami configuration file. To publish a new component and make it available on the Origami component library, push it to one of these Git locations, and ensure it is correctly set up with the appropriate Origami config.</p>
			<p class="o-registry-last-scan">Last scan: <time data-o-component="o-date" datetime="{{cron_last_complete|date('c')}}" title="{{cron_last_complete|date('c')}}">Unknown</time>.</p>

			<h2>Registry API</h2>

			<p>The Origami components library provides a read-only API conforming to the Bower Registry API spec (excluding registration and publishing).  To specify the Origami components library as your source for Bower components, create a <code>.bowerrc</code> file in your home directory or the root of your project's working tree, with the following content:</p>

			<pre><code class="lang-json">{
  "registry": {
    "search": [
      "http://{{SERVER.HTTP_HOST}}",
      "https://bower.herokuapp.com"
    ]
  }
}</code></pre>
		</div>
	</div>
</div>
{% endblock %}
